@import '../../global-styles/breakpoints-mixin.scss';

$primary: #dbd0c6;
$text: #000000;
$buttonPrimaryColor: #00733f;


.title {
    max-width: 1080px;
    min-width: 325px;
    margin: 86px auto 0;
    padding: 1.2rem;

    font-size: 0.8rem;

    z-index: 7;

    @include for-viewport(phone-only) {        
        text-align: center;
    }
}

.button {
    background-color: $buttonPrimaryColor;
    color: #FFF;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 48px;
    margin-left: 0.6rem;

    cursor: pointer;

    border-radius: 5px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.55);

    svg {
        margin-right: 0.6rem;
    }

    button {
        outline: none;
        border: none;
        background-color: transparent;
        color: #FFF;
    }


    transition: filter 0.2s;
    &:hover {
        filter: brightness(0.8);
    }
}

.container {
    max-width: 1080px;
    min-width: 325px;
    height: 480px;
    margin: 0 auto;
    padding: 1.2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.7%;
    
    @include for-viewport(tablet-only) {        
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        margin: 0 auto;
    }

    @include for-viewport(phone-only) {        
        height: 200px;
    }

    section:first-of-type {
        border: 3px solid $primary;
        padding: 2.9em;

        display: flex;
        align-items: flex-end;


        @include for-viewport(phone-only) {
            margin-bottom: 1.1rem;
            padding: 1rem;
        }

        @include for-viewport(tablet-only) {        
            margin-bottom: 1.5rem;
            padding: 1.7rem;
        }

        div {
            header {
                font-weight: 700;
                font-size: 1.2rem;
                margin-bottom: 0.6rem;

                position: relative;

                h3 {
                    font-size: 2rem;
                }

                img {
                    max-width: 220px;
                    opacity: 0.5;
                    position: absolute;

                    right: 0;
                    bottom: 0;
                    z-index: 6;

                    @include for-viewport(tablet-only) {        
                        bottom: -100%;
                    }
                }
                
            }

            p {
                margin-bottom: 1.1rem;

                @include for-viewport(tablet-only) {
                    text-align: justify;
                }
            }


            footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                @include for-viewport(tablet-only) {
                    flex-direction: column;

                    div.button {
                        width: 100%;
                        margin-top: 1rem;
                    }
                }

                div small {
                    color: #bfb8b1;
                }

                div small span {
                    display: block;
                }

                
            }
        }
    }

    section:nth-child(2) {
        max-height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 5%;
        row-gap: 7%;

        @include for-viewport(phone-only) {
            display: flex;
            flex-direction: column;
        }
        
    }
}
